body {
    background-image: linear-gradient(to right, #71797E, #B2BEB5);
    background-size: cover;
}

.main {
    background-image: linear-gradient(to right, #71797E, #B2BEB5);
    background-size: cover;
    border: 2px solid black;
}

.main nav {
    width: 100%;
}

.main nav ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style-type: none;    
    font-family: Arial;
    font-size: xx-large;

}

.main nav ul a {
    text-decoration: none;
    color: lightblue;
}

.main nav ul a:hover {
    color: orange;
}

.about-me {
 padding: 0%;
 margin: 0%;

}

.about-me h1 {

}

.skills {
 padding: 0%;
 margin: 0%;

}

.projects {

}

.project-content {


}

.project-content-calculator {

}

.project-content-adventures {

}

.contact {

}



