body {
    background-image: linear-gradient(to right, #71797E, #B2BEB5);
}

.main {
    background-image: linear-gradient(to right, #71797E, #B2BEB5);
    height: 100%;
}

.main nav {
    width: 100%;
}

.main nav ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style-type: none;    
    font-family: Arial;
    font-size: xx-large;

}

.main nav ul a {
    text-decoration: none;
    color: lightblue;
}

.main nav ul a:hover {
    color: orange;
}

.about-me {
    padding: 0%;
    margin: 0%;
}

.about-me h1 {
    display: flex;
    justify-content: center;
    color:#B2BEB5;
}

.skills {
 padding: 0%;
 margin: 0%;
 
}

.skills h1 {
    display: flex;
    justify-content: center;
    color:#B2BEB5;
}

.skills ul {
    list-style-type: none;

}

.projects {
    padding: 0%;
    margin: 0%;
}

.projects h1 {
    display: flex;
    justify-content: center;
    color:#B2BEB5; 
}

.project-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.project-section div {
    display:inline; 
}

.project-section div img{
    width: 100%;
}

.project-section div a {
    text-decoration: none;
    font-style: italic;
    color: rgba(0, 0, 0, 0.384);
}

.contact h1 {
    display: flex;
    justify-content: center;
    color:#B2BEB5;
}

.form-group {
    justify-content: center;
    display: grid; 
    align-items: center; 
  
}

input, textarea, button {
    background-color: transparent;
    margin: 5px;
    width: 300px;
    padding: 10px;
    border-radius: 10px;

}




