
body {
    background-image: linear-gradient(to right, #71797E, #B2BEB5);
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

header ul li {
    padding: 3%;
    font-weight: bold;
    font-size:xx-large;
}

header ul li a {
    text-decoration: none;
    color:aliceblue;
;}

